*.*~
*.*#
db.sqlite3
__pycache__/
ng.ini
ngmesh.ini
homepage/static/
simulator/muffler_simulator/build/
simulator/muffler_simulator/tet/
simulator/muffler_simulator/log/
simulator/muffler_simulator/src.old/
simulator/extract_surface/surf/
simulator/extract_surface/pre_surf/
simulator/extract_surface/coutour_surf
simulator/extract_surface/clip_surf
simulator/mesh_gen/geo/*.*
!simulator/mesh_gen/geo/this_is_geo_file
simulator/mesh_gen/vol/*.*
!simulator/mesh_gen/vol/this_is_vol_file
simulator/mesh_gen.old/
simulator/result/model/*.*
simulator/result/clip/*.*
simulator/result/surf/*.*
simulator/config/*.*
simulator/mesh/*.*
static/admin/
static/model/
test/model_video_result/
test/model_video_origin/
tf_simulator/nn_model/
env/
!env/requirements.txt
test/
docker_simulator/pool/
docker_simulator/config/
docker_simulator/pool_id.txt
docker_simulator/pool_token.txt