*.*~
*.*#
db.sqlite3
__pycache__/
ng.ini
ngmesh.ini
homepage/static/model/
simulator/muffler_simulator/build/
simulator/muffler_simulator/tet/
simulator/muffler_simulator/log/
simulator/muffler_simulator/src.old/
simulator/extract_surface/surf/
simulator/extract_surface/pre_surf/
simulator/extract_surface/coutour_surf
simulator/extract_surface/clip_surf
simulator/mesh_gen/geo/*.*
!simulator/mesh_gen/geo/this_is_geo_file
simulator/mesh_gen/vol/*.*
!simulator/mesh_gen/vol/this_is_vol_file
simulator/mesh_gen.old/
simulator/result/model/*.*
!simulator/result/model/this_is_model_file
simulator/result/clip/*.*
!simulator/result/clip/this_is_clip_file
simulator/result/surf/*.*
!simulator/result/clip/this_is_surf_file
simulator/config/*.*
simulator/mesh/*.*
tf_trainer/model_method3/
tf_trainer/log*.*
